:root {
    --text: black;
    --accent: rgb(143, 95, 240);
    --brand: rgb(86, 65, 126);
    --bg: #e7eaf6;
}

/* CSS styles */
.hidden {
    display: none;
    /* Hide the answer bar initially */
}

body {
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5vh;
}

button:hover {
    cursor: pointer;
}

label {
    color: var(--text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label,
button {
    margin-left: 20px;
}

#logo{
    color:var(--brand);
    margin-left: 20px;
}

h1 {
    color: var(--text);
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-bottom: 0.25em;
}

#end-game {
    margin-top: 2vh;
    margin-left: 0;
}

.image {
    width: 10%;
    aspect-ratio: 1/1;
    margin: 0.3%;
    object-fit: cover;
    display: inline-block;
}

.image:hover {
    cursor: pointer;
}

#image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    padding-bottom: 2vh;
}

#image-holder {
    display: flex;
    width: 96%;
    margin-top: 2vh;
    padding-left: 15px;
    margin-left: 0;
    align-items: center;
    margin-left: 0;
    padding-bottom: 1.5vh;
}

#scoreDisplay {
    width: 100vw;
    min-height: 0;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    height: 5vh;
    font-size: 1.1em;
}

#done-holder{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#scoreText{
    display: inline-block;
    margin-right: 5px;
}

#nameDisplay {
    width: 100vw;
    height: 8vh;
    padding: 0;
    margin-top: 2vh;
    font-size: 1.4em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#folderUpload {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 20px;
}

#upload-files {
    border-radius: 0.5em;
    background-color: var(--accent);
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    font-size: 1em;
    border: none;
}

#options {
    display: none;
}

.button {
    border-radius: 0.25em;
    background-color: var(--accent);
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: white;
    font-size: 0.95em;
    border: none;
}

#game {
    margin-top: 2vh;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.fas:hover{
    cursor: pointer;
}

#stats {
    padding-top: 2vh;
    text-align: center;
    width: 30vw;
    min-height: 20vh;
    margin-top: 2vh;
    padding-bottom: 1vh;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 35vw;
    margin-right: 35vw;
    display: none;
}

#result {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}

#check-answer {
    border-radius: 0.25em;
    background-color: var(--accent);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1vh;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
    font-size: 0.88em;
    border: none;
}

#answer {
    margin-left: 20px;
    height: 3vh;
    padding: 1px;
    padding-left: 4px;
    margin-bottom: 3vh;
}

#backtohome {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    /* Adjust the number of columns and width as needed */
    grid-gap: 1px 6px;
    /* Adjust the gap between grid cells as needed */
    justify-content: left;
}

.grid-item {
    background-color: #FFFFFF;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
}

#info {
    position: relative;
    display: inline-block;
}
  
#info-text {
    visibility: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.75em;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;

    min-width: 12vw;
    bottom: 50%;
    /* left: 50%;/ */
    margin-left: -6vw;
}

#info:hover #info-text {
    visibility: visible;
}
