<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name It!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div id="welcome">
        <h1 id="header">Welcome to Name It! Upload a folder of photos to get started memorizing!</h1>
        <label for="folderUpload" style="font-size: 0.9em"><i>The file name of each photo in the folder should be the
                name
                of the person that photo corresponds to.</i></label> 
                <i class="fas fa-question-circle" style="font-size: 0.8em;" id="info">
                <p id="info-text">
                    E.g., the photo for Emily should be "Emily.png" or "Emily.jpg"
                </p></i>
                
                <!-- <label style="display:inline-block; height: 0; padding-top: 0.1vh; margin-left: 0.5vw; position: absolute;"> ? </label> -->
        <br>
        <input type="file" id="folderUpload" name="folderUpload" webkitdirectory directory multiple>
        <br>
        <button type="submit" onclick="saveFiles()" id="upload-files">Upload!</button>
    </div>
    <div id="options">
        <button onclick="backToHome()" id="backtohome" class="button">
            New dataset
        </button>
        <h1> Which would you like to play?</h1>
        <button onclick="runPhotoMatch()" class="button"> Match photo to name </button>
        <button onclick="runTypeName()" class="button" style="margin-left: 0;"> Type name </button>
        <button onclick="runCrossWord()" class="button" style="margin-left: 0;"> Crossword </button>
    </div>

    <div id="answerBar" class="hidden">
        <label for="answer">Who is this?</label>
        <br>
        <input type="text" id="answer" name="answer">
        <button onclick="checkAnswer()" id="check-answer">Check</button>
        <p id="result"></p>
    </div>

    <div id="stats">
        <h2 style="margin-left: 0; margin-bottom: 0.5vh;"> Thanks for playing! </h2>
        <h3 style="margin-left: 0; margin-top: 0; margin-bottom: 0;"> Your final score is: </h3>
        <h1 id="final-score" style="margin-top: 2vh; margin-left: 0;"> </h1>
    </div>

</body>

</html>
